@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap");

body {
  font-family: "Ysabeau Infant", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  padding: 0;
}

.app-container {
  min-height: 100vh;
}
.lighTheme {
  background-image: linear-gradient(to left, #4d565a, #a5c6ec);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}

.logo-name {
  font-size: 28px;
  font-weight: 580;
  color: rgb(225, 255, 0);
  display: flex;
  align-items: center;
}
.logo-img {
  width: 60px;
}

.search-div {
  display: flex;
  align-items: center;
}
.search-bar {
  outline: none;
  border-style: none;
  height: 45px;
  width: 250px;
  padding: 8px;
  border-radius: 20px;
  font-size: 15px;
  padding-left: 10px;
  color: rgb(61, 33, 4);
  background-color: rgb(215, 247, 249);
}
.search-btn {
  outline: none;
  border-style: none;
  background-color: rgb(184, 253, 242);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: beige;
  font-size: 16px;
  font-weight: 510;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.search-icon {
  font-size: 28px;
  color: rgb(69, 113, 114);
}
.theme-container {
  display: flex;
  align-items: center;
}
.toggle-button {
  outline: none;
  border-style: none;
  background-color: transparent;
  margin-left: 10px;
}
.date {
  font-size: 22px;
  font-weight: 540;
  color: rgb(251, 251, 4);
}
.icon {
  font-size: 25px;
  cursor: pointer;
}
.drakTheme {
  background-color: black;
}
.darkFontColor {
  color: beige;
}
